/* * {
    box-sizing: border-box;
} */
html {
    /* background: url(img//heather-barnes-gP1YecpRyD8-unsplash.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; */
    /* background-color: black; */
    color: white;
    /* height: 100%; */
    /* height: 3000px; */
    background: linear-gradient(-32deg, #003399 50%, #993380 50%);
    /* background: black; */
    /* background: linear-gradient(120deg, #003399 0%, #993380 25%, #4d0099 255%, #339999 25%, #e6b800 25%); */
}

body {
    height: 100vh;
    margin: 0;
    /* font-family: 'Della Respira', serif; */
    font-family: 'Cormorant Garamond', serif;
}

.heading {
    font-size: 175px;
    line-height: 10%;
    text-align: left;    
    /* opacity: .05; */
    color: transparent;
	-webkit-text-stroke: 1px navy;
	text-stroke: 1px navy;
	-webkit-text-fill-color: transparent;
	text-fill-color: transparent;

}

.name-heading {
    margin-left: 10px;
}

.about-heading {
    height: 500px;
    margin-right: 15px;
}

img {
    display: block;
    margin: 100px auto 0 auto;
    /* width: 50%; */
    height: 400px;
    width: 400px;
    padding: 250px 0 10px 0;
}

nav {
    height: 100px;
}

nav ul{
    list-style-type: none;
    padding-left: 10px;
}
nav ul li {
    display: inline-block;
    font-size: 24px;
    /* text-transform: uppercase; */
}

a {
    text-decoration: none;
    color:white;
}

.about {
    font-size: 20px;
    line-height: 10%;
    text-align: right;
    /* text-transform: uppercase; */
}

.nav-about {
    padding-right: 7px;
}

.nav-trade {
    padding-right: 7px;
}

.nav-left {
    float: left;
}
.nav-middle{
    float: right;
    padding-right: 10px;
    align-content: space-between;
} 

.nav-right{
    float: right;
    padding-right: 70px;
}
    
/* locomotive-scroll */
section {
    height: 100vh;
    color: white;
    /* padding: 10em; */
    
} 

section h1 {
        font-size: 3em;
}

section p {
        font-size: 1.5em;
}

/* section:nth-child(even) {
        background-color:#993380;
        color: white;
}

section:nth-child(odd) {
        background: #e6b800;
        color:white
} */



/* diagonal box */
.diagonal-box1, .diagonal-box2 {
    position: relative;
}

.diagonal-box1:before, .diagonal-box2:before {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    height: 100vh;
    color:white;
    /* skews section along the y-axis to create diagonal effect */
    transform: skewY(-32deg);
    content: '';
    margin: 0;
    padding: 0;
}

.diagonal-box1:before{
    background: #993380; 
}

.diagonal-box2:before{
    background: #003399; 
}

.content {
    max-width: 50em;
    margin: 0 auto;
    text-align: center;
    position: relative;
}

.all-titles {
    padding: 50px 15px 0 0;
    justify-content: right;
}
.titles-p {
    opacity: 0;
    transition: 3s;
    color: rgb(182, 182, 174);
    font-size: 100px;
    text-align: right;
    list-style: none;
    padding: 5px;
    display: block;
}
.project-p {
    opacity: 0;
    transition: 6s;
    color: rgb(182, 182, 174);
    padding-top: 1px;
    
}

.scroll-class {
    opacity: 1;
}

/* .is-inview {
    color: black;
} */

/*** flipping card transition ***/
.card {
    position: relative;
    display: inline-block;
    /* float: left; */
    padding-bottom: 25%;
    width: 25%;
    text-align: center;
}

.card__front,
.card__back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: inline-block;

}

.card__front,
.card__back {
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    -webkit-transition: -webkit-transform 0.3s;
            transition: transfom 0.3s;
}

.card__front {
    background-color: #ff5078;
}

.card__back {
    background-color: #1e1e1e;
    -webkit-transform: rotateY(-180deg);
            transform: rotateY(-180deg);
}

/**on hover, front card transitions to -180**/
.card.effect__hover:hover .card__front {
    -webkit-transform: rotateY(-180deg);
            transform: rotateY(-180deg);
}

/**on hover, back card transitions to 0**/
.card.effect__hover:hover .card__back{
    -webkit-transform: rotateY(0);
            transform: rotateY(0)
}

/**on click, front card transitions to -180**/
.card.effect__click.flipped .card__front{
    -webkit-transform: rotateY(-180deg);
            transform: rotateY(-180deg);
}

/**on click, back card transitions to 0**/
.card.effect__click.flipped .card__back {
    -webkit-transform: rotateY(0);
            transform: rotateY(0);
}

.card.effect__random.flipped .card__front {
    -webkit-transform: rotateY(-180deg);
            transform: rotateY(-180deg);
}

.card.effect__random.flipped .card__back {
    -webkit-transform: rotateY(0);
            transform: rotateY(0);
}

footer {
    height: 100px;
}

/****Media Queries****/
/* @media (max-width: 1507px){
    h1 {
        font-size: 150px;
        letter-spacing: -10px;
    }
}

@media (max-width: 1123px){
    h1 {
        font-size: 120px;
        letter-spacing: -8px;
    }

    p {
        line-height: normal;
    }
}

@media (max-width: 876px){
    h1 {
        font-size: 90px;
        word-wrap: break-word;
        line-height: normal;
        letter-spacing: -5px;

    }
} */
