html {
    /* background: url(img//heather-barnes-gP1YecpRyD8-unsplash.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; */
    background-color: black;
    color: white;
    font-family: 'Montserrat', sans-serif;

}
h1 {
    font-size: 200px;
    line-height: 20%;
    letter-spacing: -15px;
    text-align: center;
    margin-bottom: 115px;
    
}

img {
    display: block;
    margin: 100px auto 0 auto;
    width: 50%;
}

nav {
    height: 100px;
}

nav ul{
    list-style-type: none;
    padding-left: 10px;
}
nav ul li {
    display: inline-block;
    text-transform: uppercase;
}

a {
    text-decoration: none;
    color:white;
}

p {
    font-size: 20px;
    line-height: 10%;
    text-align: center;
    text-transform: uppercase;
}

.nav-about {
    padding-right: 7px;
}

.nav-trade {
    padding-right: 7px;
}

.nav-left {
    float: left;
}
.nav-middle{
    float: right;
    padding-right: 10px;
    align-content: space-between;
} 

.nav-right{
    float: right;
    padding-right: 70px;
    
}/*** flipping card transition ***/

.card {
    position: relative;
    display: inline-block;
    /* float: left; */
    padding-bottom: 25%;
    width: 25%;
    text-align: center;
}

.card__front,
.card__back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: inline-block;

}

.card__front,
.card__back {
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    -webkit-transition: -webkit-transform 0.3s;
            transition: transfom 0.3s;
}

.card__front {
    background-color: #ff5078;
}

.card__back {
    background-color: #1e1e1e;
    -webkit-transform: rotateY(-180deg);
            transform: rotateY(-180deg);
}

/**on hover, front card transitions to -180**/
.card.effect__hover:hover .card__front {
    -webkit-transform: rotateY(-180deg);
            transform: rotateY(-180deg);
}

/**on hover, back card transitions to 0**/
.card.effect__hover:hover .card__back{
    -webkit-transform: rotateY(0);
            transform: rotateY(0)
}

/**on click, front card transitions to -180**/
.card.effect__click.flipped .card__front{
    -webkit-transform: rotateY(-180deg);
            transform: rotateY(-180deg);
}

/**on click, back card transitions to 0**/
.card.effect__click.flipped .card__back {
    -webkit-transform: rotateY(0);
            transform: rotateY(0);
}

.card.effect__random.flipped .card__front {
    -webkit-transform: rotateY(-180deg);
            transform: rotateY(-180deg);
}

.card.effect__random.flipped .card__back {
    -webkit-transform: rotateY(0);
            transform: rotateY(0);
}


/****Media Queries****/
@media (max-width: 1507px){
    h1 {
        font-size: 150px;
        letter-spacing: -10px;
    }
}

@media (max-width: 1123px){
    h1 {
        font-size: 120px;
        letter-spacing: -8px;
    }

    p {
        line-height: normal;
    }
}

@media (max-width: 876px){
    h1 {
        font-size: 90px;
        word-wrap: break-word;
        line-height: normal;
        letter-spacing: -5px;

    }
}